@font-face {
	font-family: Gora Free;
	src: url('Gora-Free.woff');
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.page_container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}
.page{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 1200px;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    width: 100%;
    background-color: #1a1b1c;
    top: 0;
}

.header::before{
    position: absolute;
    right: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.header::after{
    position: absolute;
    left: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    border: solid 1px #820ab1;
    background-color: #1a1b1c;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    height: 77px;
    width: 100%;
    background-color: #1a1b1c;
    justify-content: space-between;
    align-items: center;
}
.footer::before{
    position: absolute;
    right: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.footer::after{
    position: absolute;
    left: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.logo--image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 666px;
    width: 100%;
}
.logo{
    color: #e1942a;
    font-size: 18px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-family: "Gora Free";
}
.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.contact__phone{
    display: flex;
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
.contact__grafic{
    display: flex;
    color: #e1942a;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    line-height: 30px;

}
.navigation{
    display: flex;
    height: fit-content;
    width: 27%;
    justify-content: space-between;

}
.navigation a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation a span {
    display: flex; 
    align-items: center;
}
.icon{
    margin-right: 10px;
}
.nav__text{
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffff;
}
.hero__logo-image{
    width: auto;
}
.content__name{
    color: #ffffff;
    font-family: "Open Sans";
    margin: 66px 0px;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1.47px;
}
.card__unic{
    display: flex;
    flex-direction: column;
    width: 28.5%;
}
.card__icon--icon{
    display: flex;
    justify-content: center;
}
.card__unic--name{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;;
    font-size: 11px;
    font-weight: 800;
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
.content__cards{
    width: 100%;
}
.unic--details__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-left: 8%;
    width: 59%;
}
.unic--details__text{
    width: 80%;
    text-align: left;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 20px;
    margin-left: 20px;
}
.content__cards{
    display: flex;
    width: 100%;
    justify-content: center;
}
.content::after{
    position: absolute;
    left: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.content::before{
    position: absolute;
    right: 100%;
    content: "";
    background-color: #1a1b1c;
    width: 400%;
    height: 100%;
}
.content__news{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.news__txt{
    color: #262424;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1.47px;
    height: fit-content;
    margin: 60px 0px;
}
.content__nest--container{
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-evenly;

}
.news__user--news{
    display: flex;
    width: 80%;
    flex-direction: column;
    height: fit-content;
    margin-left: 30px;
}
.news__top--sept{
    display: flex;
    width: 20%;
}
.user--coment{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.user--comment__photo{
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.user--comment__txt{
    display: flex;
    flex-direction: column;
    width: calc(100% - 180px);
}
.user-photo{
    display: block;
    width: 160px;
    height: 160px;
}
.user--comment__txt span {
    margin-bottom: 10px;
}
.user--comment__date{
    color: #262424;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.user--comment__expression{
    color: #262424;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.user--comment__details{
    font-size: 17px;
    color: #656464;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.user--coment::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 2px;
    background-color: #f4f4f4;
    width: 95%;
}
.user--coment{
    margin-bottom: 60px;
}
.last--comment::after{
    display: none;
}
.top--septNews__txt{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.topNews{
    color: #262424;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.topNews--sept{
    color: #656464;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.topNews--sept__anchors{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.septNews--anchor{
    width: 100%;
    height: auto;
}
.first--sept__news{
    margin-top: 20px;
}
.news__top--sept div{
    margin-left: 25px;
}
.news__top--sept{
    display: flex;
    flex-direction: column;
}

.pagination__elem{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262424;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.pag__elem{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #ffffff;
}
.author{
    display: flex;
    height: 100%;
    width: 21%;
}
.footer--socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 21%;
}
.author{
    display: inline;
    align-items: center;
    height: auto;
}
 a{
    text-decoration: none;
}
.author{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.author a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.footer--socials span{
    margin: 2px 0;
}
.footer--icon {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #cfcfcf;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    border-radius: 50%;
}
.footer--icon img{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.footer--socials__icons{
    display: flex;
}
.footer--socials__text{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.footer--icon:hover{
    background-color: #e1942a;
}
.pagination__text{
    color: #656464;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.pagination__text{
    margin: 15px;
}
.pagination span .active{
    color: #ffffff;
    background-color: #2b2b40;
    width: 25px;
    height: 25px;
    border-radius: 10%;
}
.pag__elem:hover .pagination__elem{
    color: #e1942a;
}
.contact--grafic__hover{
    display: none;
    position: absolute;
    top: 100%;
    left: 19%;
    flex-direction: column;
    color: #e1942a;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.grafic--hover__day{
    font-weight: 700;
}
.grafic--hover__lunch{
    color: #262424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.contact--grafic__hover{
    justify-content: space-evenly;
    align-items: center;
    width: 163px;
    height: 70px;
    box-shadow: 0 0 10px rgba(42, 61, 115, 0.55);
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    opacity: 0.95;
}
.contact__grafic:hover .contact--grafic__hover{
    display: flex;
}
.nav__home .active{
    color: #e1942a;
}